@import url("styles/header.css");

:root{
    --cor-de-fundo: #bdbdbd;
    --cinza: #b1aeae;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --azul: #000ba8;
    --vermelho: #bb0303;
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: white;
}
